<b><font color='red' size=6> ch05. 함수 </font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것.
- 오버로딩 불가
- 함수의 정의
```
def 함수명([매개변수1, 매개변수2, ...]):
    명령어1
    명령어2
    return 리턴 할 값
```

# 1절. 함수의 정의 및 사용

## 1.1 함수정의하기

In [ ]:
def my_hello(x, msg): # 함수정의 x반복할 숫자 , msg내용
    for i in range(x): # x번 반복
        print(i, msg)

In [ ]:
my_hello(5, 'hello python')

In [ ]:
type(my_hello)

In [ ]:
my_hello = 10
type(my_hello)

In [ ]:
my_hello(5, 'hello python') # 오류

In [ ]:
del my_hello
# 변수를 삭제해도 함수는 사용불가(파이썬 내장함수만 사용 가능)

In [ ]:
def my_hello(x, msg): # 함수정의 x반복할 숫자 , msg내용
    for i in range(x): # x번 반복
        print(i, msg)

In [ ]:
def my_hello():
    print('Hello, python')
    print('Hello, World')

In [ ]:
my_hello()

In [ ]:
my_hello # 내가 실행하고 있는 파일 main 파일

In [ ]:
__name__

In [ ]:
if __name__ == "__main__":
    my_hello()

In [ ]:
import a # a.py(모듈 파일) 가 해석되서 메모리에 로드

In [ ]:
a.test()

In [ ]:
from a import test # a 모듈파일안에 test 로드

In [ ]:
test()

## 1.2 docstring

In [ ]:
def my_funtion():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할.
    주석보다 많이 기능을 포함(Shift + Tab으로 독스트링을 볼수 있음)
    '''
    pass # 아무것도 안함

In [ ]:
print(my_funtion.__doc__)

In [ ]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열(각항이 이전 두항의 합)을 출력합니다
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1
    while a < n :
        print(a, end=" ") # end는 키워드인수 
        a, b = b, a+b
    print()

In [ ]:
fibonacci(10)

## 1.3 지역변수(local var)와 전역변수(global var)
- 함수안에서 선언한 변수는 지역변수(실행되고 나면 사라짐)
- 전역변수는 함수안에서도 사용가능

In [ ]:
global_var = 100 # 전역변수
def func1():
    print('함수 안',global_var)
func1()
print('함수 밖',global_var)

In [ ]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안', local_var)
func2()
print('함수 밖', local_var) # 오류

In [ ]:
g_var = 100 # 전역변수(변수 선언과 할당)
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('지역변수 g_Var=', g_var)
func3()
print('전역변수 g_var=', g_var)

In [ ]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    print('함수 안 g_var :',g_var)
    g_var = 200 # 지역변수
func3() # 에러

In [ ]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var # func3 함수내에서는 g_var는 전역변수를 쓴다
    print('함수 안 g_var :',g_var)
    g_var = 200 
func3() 
print('함수 밖 g_var :', g_var)

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [ ]:
foo = 'a' # 전역변수
id(foo)

In [ ]:
def func1(f): # 매개변수는 지역변수
    print('Before :', f, '의주소는', id(f))
    f = f*3 # aaa
    print('After :', f, '의 주소는', id(f))
func1(foo)

In [ ]:
print('foo = ', foo, '의주소는', id(foo))

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [ ]:
L = [1 ,2 ,3 ,4 ,5]
id(L)

In [ ]:
def func2(f): #매개변수는 지역변수
    print('Before :', f, '의 주소', id(f))
    f.append(6)
    print('After :', f, '의 주소', id(f))
func2(L)

In [ ]:
print('L :', L, '의주소는', id(L))

## 1.6 함수의 이름 변경
- Python : 함수형언어, 객체지향언어

In [ ]:
fibonacci(20)

In [ ]:
fibo = fibonacci # fibonacci 함수이름을 fibo로도 사용가능

In [ ]:
fibo(20)

# 2절. 함수의 실행결과 반환하는 return

In [ ]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열(각항이 이전 두항의 합)을 출력합니다
    ex. n=10 : 0, 1, 1, 2, 3, 5, 8
    '''
    a, b = 0, 1
    while a < n :
        print(a, end=" ") # end는 키워드인수 
        a, b = b, a+b
    print()
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    '''
    result = []
    a, b = 0, 1
    while a<n :
        result.append(a)
        a, b = b, a+b
    return result

In [ ]:
x = fibonacci_print(10)
print(x) # return이 없는 함수를 할당받으면 None(결측치)
print(type(x))

In [ ]:
x = fibonacci(10)
print(x)

## 여러개 값 return

In [ ]:
def swap(a, b):
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return b, a #튜플로 리턴

In [ ]:
x, y = 5, 10
print('함수 실행 전 x, y = ', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x, y)

In [ ]:
a = swap(10, 20)
print(type(a))
print(a)

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [ ]:
def make_url(ip, port=80): # 순서인수가 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [ ]:
print(make_url('localhost',8090)) # 8090은 안넣어도됨 안넣으면 기본값으로 한다
print(make_url('localhost'))
print(make_url(port=9090, ip='www.naver.com'))

## 3.2 기본 변수 갖는 매개변수
- 기본변수가 스칼라 변수(문자, 숫자, 논리형) 일 때
- 기본변수가 리스트, 셋, 딕셔너리 또는 객체일 때

In [ ]:
i = 5
# 기본변수가 스칼라변수일 때 : arg의 기본값은 함수가 정의되는 시점으로 셋팅
def func2(arg=i):
    print('arg=', arg)

In [ ]:
i = 10
func2()

In [ ]:
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 실행되는 시점
list_ = [] 
def func3(a, L=list_): # 기본값을 변수로 두면 전부 공유
    L.append(a)
    return L
print(func3(10))
print('list_ :',list_)

In [ ]:
print(func3(20))
print('list_ : ',list_)

In [ ]:
print(func3(30))
print('list_:', list_)

In [ ]:
def func3(a, L=[]): # 기본값이 변수로 두지않으면 공유 하지 않음 
    L.append(a)
    return L
print(func3(10))
print(func3(10, [1, 2, 3]))

## 3.3 순서인수, 키워드인수
- 순서인수 : 함수에 정의된 순서대로 전달방식  호출할때 방식
- 키워드인수 : 인수의 이름을 명시적으로 전달방식 호출할때 방식
- 함수정의(선언)시 순서인수와 키워드인수가 같이 올 때는 : 순서는 (순서인수 > 키워드인수) 
```
    def function명(변수명1, 변수명2, .... 변수명n = 기본값):
```

In [ ]:
def func4(a, L=None):
    if L is None : # None을 비교할땐 is None
        L = []
    L.append(a)
    return L

In [ ]:
lst = []
print(func4(10, lst))
print(func4(L=lst, a= 10)) # 호출할때는 순서가 바뀌어도 상관없음
print(func4(20))
print(func4(20, None))

## 3.4 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
def add(a, b):
    return a+b
def add(a, b, c): # 재 함수 선언시 매개변수 2개는 덮어씌워져서 매개변수 3개만 가능
    return a+b+c

In [ ]:
add(1,2) # 에러

In [ ]:
# 가변인자 함수 add
# args 앞의 * : args가 튜플로 전달 (매개변수명은 아무거나상관없음)
def add(*args):
    '전달받은 매개변수들의 합을 return, 매개변수가 없는 경우 -1을 return'
    # print(args)
    sum = 0 # 누적변수
    if len(args) == 0:
        return -1
    for num in args:
        sum += num
    return sum

In [ ]:
print(add(1))
print(add(1,2,3,4))
print(add(1,2,3,4,5,6,7,8))
print(add())

In [ ]:
subject = ('Java', 'Oracle', 'Web', 'Python')
'-'.join(subject)

In [ ]:
def concat(*subject, sep):
    return sep.join(subject)

In [ ]:
concat('Java', 'Oracle', 'Web', 'Python', ' ~ ')

In [ ]:
# 해결책 1 : 파라미터이름을 지정해서 호출
concat('Java', 'Oracle', 'Web', 'Python', sep=' ~ ')

In [ ]:
# 해결책 2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep=' '): # 튜플인수 > 키워드인수
    return sep.join(subject)

In [ ]:
concat('Java', 'Oracle', 'Web', 'Python')

In [ ]:
# 해결책 3 : sep을 순서인수로 앞으로 선언
def concat(sep, *subject):
    return sep.join(subject)

In [ ]:
concat('~', 'Java', 'Oracle', 'Web', 'Python')

## 3.5 딕셔너리 매개변수
- 딕셔너리인수 : 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변 키워드 인수로 처리

In [ ]:
def func5(**args): # * 하나면 튜플 ** 딕셔너리
    print(args)
    print(type(args))
    for key, value in args.items():
        print('{}:{}'.format(key, value))

In [ ]:
func5(name = '홍길동', age = 33)

In [ ]:
func5(name='김길동', address='서울', tel = '010-9999-9999')

## 3.6 함수 정의시 매개변수의 순서
순서인수 > 튜플인수(*) > 키워드인수(기본값을갖는) > 딕셔너리인수(**)

In [ ]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c , **d) :
    print('순서인수 a= ',a)
    print('순서인수 b= ',b)
    print('튜플인수 c= ',c)
    print('딕셔너리인수 d= ',d)

In [ ]:
func6(10,20, 1,2,3,4,5,7, name='kim', age=30)

In [ ]:
# 순서인수 > 튜플인수 > 키워드인수 > 딕셔너리인수
def func7(a, b, c, *d, e=10, **f) :
    print('순서인수 a= ',a)
    print('순서인수 b= ',b)
    print('순서인수 c= ',c)
    print('튜플인수 d= ',d) # 안넣으면 빈 튜플
    print('키워드인수 e= ',e)
    print('딕셔너리인수 f= ',f)# 안넣으면 빈 딕셔너리

In [ ]:
func7(10,20,30)

In [ ]:
func7(10,20,30, e=100)

In [ ]:
func7(10,20,30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

## 3.7 인수의 언패킹
### 튜플인수 언패킹

In [ ]:
def add(*args): # ((1, 2, 3, 4, 5, 6, 7, 8),)
    sum = 0
    for num in args:
        sum += num
    return sum

In [ ]:
add(1, 2, 3, 4, 5)

In [ ]:
numbers = (1, 2, 3, 4, 5)
add(*numbers) # 튜플 언패킹

In [ ]:
num_lst = [1, 2, 3]
add(*num_lst) # 리스트도 가능

### 딕셔너리 인수 언패킹

In [ ]:
def func8(**data):
    for item in data.items():
        print(item)
func8(shape='rect', height=30, width=40)

In [ ]:
info = {'shape':'triangle', 'height':40, 'width':30}
info

In [ ]:
func8(**info) # 딕셔너리 언패킹

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [ ]:
def add(a, b):
    return a+b
add(3, 5)

In [ ]:
# 람다식은 function 이름이없다
add2 = lambda a, b : a+b # 한줄로 작성 매개변수는 : 앞에 리턴식을 : 뒤에 
add2(10, 20)

In [ ]:
print(type(add), type(add2))

In [ ]:
(lambda a, b : a+b) (3, 5) # 호출할때도 한줄로

In [ ]:
# a와 b의 차이를 return
def diff(a, b):
    if a>=b:
        return a-b
    else :
        return b-a

In [ ]:
diff2 = lambda a, b : a-b if a>=b else b-a

In [ ]:
print(diff(3, 5), diff(5, 3), diff2(3, 5), diff2(5, 3))
print(type(diff), type(diff2))

In [ ]:
# 매개변수로 잔액을 받아 잔액이 음수면 'negative'라고 출력, 양수면 잔액출력
def get_balance(balance):
    if balance >=0 : 
        return balance
    else :
        return 'negative'

In [ ]:
get_balance = lambda balance : balance if balance>=0 else 'negative'

In [ ]:
print(get_balance(-100))

In [ ]:
balance = -500
if balance>=0:
    result = balance
else:
    result = 'negative'
result

In [ ]:
balance = -500
balance if balance>=0 else 'nagative'
# 자바 3항연산자로 가정했을때
#result = balance>=0 ? balance : 'nagative'

In [ ]:
# 아래의 함수도 람다식으로 바꿀 수 있음 vector데이터(리스트 튜플 배열)
v = (1,2,3)
def safe_index(vector, item) : 
    if item in vector :
        return vector.index
    else :
        return -1
safe_index(v, 1), safe_index(v, 4)

In [ ]:
def safe_index(vector, item) : 
    return vector.index(item) if item in vector else -1

In [ ]:
safe_index = lambda vector, item : vector.index(item) if item in vector else -1
safe_index([1, 2, 3, 4], 1), safe_index((1, 2, 3), 5)

In [ ]:
# 매개변수로 들어온 값이 짝수면 '짝수', 홀수면 '홀수' return

In [ ]:
even_odd_chk = lambda num : '짝수' if num%2==0 else '홀수'
even_odd_chk(11),even_odd_chk(-10)

In [ ]:
def levelChk(score):
    if score >= 80:
        return 'A'
    elif score >= 60:
        return 'B'
    else :
        return '재시험'
levelChk(-65), levelChk(85)

In [ ]:
levelChk = lambda score : 'A' if score >= 80 else ('B' if score >= 60 else '재시험')
'x' if score<0 | score>100'x' if score<0 | score>100

In [ ]:
levelChk = lambda score : 'A' if score >= 90 else ('B' if score >=80 \
                                                   else('C' if score >= 70 else('D' if score>= 60 \
                                                                                     else('재시험'))))
levelChk(-65), levelChk(65)

In [ ]:
def score_grade(score):
    if 90<= score <= 100 :
        return 'A'
    elif 80>= score >90:
        return 'B'
    elif 70>= score >80:
        return 'C'
    elif 60>= score >70:
        return 'D'
    elif 0>= score >60:
        return 'F'
    else :
        return '유효하지 않은 점수'

In [ ]:
score_grade = lambda score : 'A'  if 90<= score <=100 else\
                             'B' if 80<= score <90 else\
                             'C' if 70<= score <80 else\
                             'D' if 60<= score <70 else\
                             'F' if 0< score <60 else '유효하지 않은 점수'
score_grade(-65), score_grade(105), score_grade(95), score_grade(85), score_grade(75), score_grade(65), score_grade(55)

In [ ]:
add = lambda a, b : a+b
sub = lambda a, b : a-b
mul = lambda a, b : a*b
div = lambda a, b : a/b if b!=0 else '두번째 인자가 0으로는 못 나눠요'
add(3, 0), div(3, 0)

operations = [add, sub, mul, div]
# 매개변수로 함수 list가 옴
def act_operations(a, b, operations=operations):
    result = [] 
    for op in operations:
        result.append(op(a, b))
    return result
# def pow(a, b):
#     return a**b
operations.append(lambda a, b : a**b)
print(act_operations(10, 2, [lambda a, b : a**b, lambda a, b : a*10+b]))

In [ ]:
#리스트컴프리헨션
lst = [1, 2, 3]
print([l**2 for l in lst ])
print([l for l in lst if l%2==0])

In [ ]:
# act_operations의 함수를 리스트컴프리헨션을 이용하여 람다식으로 구현
operations = [add, sub, mul, div]
def act_operations(a, b, operations=operations):
      return [op(a, b) for op in operation]

In [ ]:
# 람다식과 리스트컴프리헨션으로 변경
act_operations = lambda a, b, operations=operations : [op(a, b) for op in operations] 
# [op(a, b) for op in operations] 리스트컴프리헨션
print(act_operations(5, 2, [lambda a, b : a+b, lambda a,b : a**b]))
operations.append(lambda a,b : a**b)
print(act_operations(5, 2))

## 4.2 함수의 매개변수(인수)에 람다식 사용

In [ ]:
map_template = lambda func, L=[] : [func(l) for l in L]

In [ ]:
# map 함수 만들어서 사용해보기
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [ ]:
list_data = [1, 2, 3, 4, 5, 6, 7, 8]
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)
map_template(lambda x : x*2, list_data)

In [ ]:
# 리스트 컴프리헨션
[x*2 for x in list_data]

In [ ]:
# map map객체를 리턴 위에서 만든 map_template 이랑 같은용도
# map 함수는 매개변수로 lambda식을 사용
list(map(lambda x : x*2, list_data))

In [ ]:
for x in map (lambda x : x*2, list_data):
    print(x, end=' ')

In [ ]:
# filter는 만족하는 조건만 
def filter_template(func, L=[]):
    result = []
    for item in L :
        if func(item):
            result.append(item)
    return result

In [ ]:
def evenChk(value):
    return value%2==0
#     if value%2==0 :
#         return True
#     else :
#         return False
list_data = [1, 2, 3, 4, 5, 6, 7, 8]
# print(filter_template(evenChk, list_data))
filter_template(lambda x : x%2==0, L=list_data) # 딕셔너리거나 , 키워드인수 앞이 튜플이면 키워드인수로 함

In [ ]:
# filter 함수이용
for item in filter(lambda x : x%2==0, list_data):
    print(item, end= ' ')

In [ ]:
# 리스트컴프리헨션
[x for x in list_data if x%2==0]

In [ ]:
# quiz : 다음 리스트에서 소숫점이하가 0인 수만 추출하시오 
# filter함수, 람다식이용 / filter_template / 리스트컴프리헨션 
L = [1, 1.2, 1.5, 2, 3.0, 10.5, 100]
# [1, 2, 3.0, 100]
x = 2
# print(x.is_integer()) is_integer() float만 가능한함수
print(x%1.0==0)
print(x==round(x))
print(x==x//1)

In [ ]:
# 1. filter함수 사용
print(list(filter(lambda x : x==x//1, L)))
print(list(filter(lambda x : x==round(x), L)))
print(list(filter(lambda x : x%1.0==0, L)))
# 2. filter_template 사용 
print(list(filter_template(lambda x : x==x//1, L)))
print(list(filter_template(lambda x : x==round(x), L)))
print(list(filter_template(lambda x : x%1.0==0, L)))
# 3. 리스트컴프리헨션 사용
print([x for x in L if x==round(x)])
print([x for x in L if x==x//1])
print([x for x in L if x%1.0==0])

**람다식은 함수가 실행할 문장이 한문장의 return문일 경우만 사용 가능**<br>
**람다식이 가장 많이 사용되는 곳은 함수의 인수로 전달될 때 나 함수를 return할때**

In [ ]:
# 예제2 : 베스트셀러 list(딕셔너리 리스트)를 가격순으로 sort
p = [10, 3, 6, 1]
p.sort(reverse=True) # 내림차순 정렬
p

In [ ]:
pairs = [(2, 'two'),(1, 'one'),(4, 'four'),(3, 'three')]
pairs.sort() # 1번째로 sort
pairs

In [ ]:
pairs.sort(key=lambda pair : pair[1], reverse=True)
pairs

In [ ]:
students =[{'name':'홍','score':99},
           {'name':'김','score':90},
           {'name':'이','score':80},
           {'name':'박','score':99}]

In [ ]:
# students를 이름 ㄱㄴㄷ순 정렬
students.sort(key=lambda student : student['name'] )
students

In [ ]:
# students를 score순 오름차순
students.sort(key=lambda student : student['score'])
students

In [ ]:
# students를 score순 내림차순
students.sort(key=lambda student : student.get('score'), reverse=True)
students

In [ ]:
books = [{'no':1, 'title':'소년이 온다', 'writer':'한강', 'price':'13,500'},
         {'no':3, 'title':'트럼프2.0시대', 'writer':'박종훈', 'price':'18,000'},
         {'no':2, 'title':'트렌드코리아2025', 'writer':'김난도', 'price':'9,100'},
         {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
         {'no':5, 'title':'가격없음', 'writer':'신길동', 'price':'None예정'},]

In [ ]:
books.sort(key=lambda book : book['no'])
books

In [ ]:
books.sort(key=lambda book : book['title'])
books

In [ ]:
books.sort(key=lambda book : book['writer'])
books

In [ ]:
books.sort(key=lambda book : book['price'], reverse=True)
books

In [ ]:
books = [{'no':1, 'title':'소년이 온다', 'writer':'한강', 'price':'13,500'},
         {'no':3, 'title':'트럼프2.0시대', 'writer':'박종훈', 'price':'18,000'},
         {'no':2, 'title':'트렌드코리아2025', 'writer':'김난도', 'price':'9,100'},
         {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'}, # 결측치 0변경
         {'no':6, 'title':'가격숫자', 'writer':'신길동', 'price':9200},
         {'no':5, 'title':'가격없음', 'writer':'이길동'}] # 결측치 0변경

In [ ]:
books.sort(key=lambda book : book.get('price')) # 오류 스트링 int None
books

In [ ]:
# & : 논리연산, 비트연산, 집합연산 모두 가능하므로, 좌항이 False여도, 우항이 숫자면 비트연산으로 수행해야 하므로 우항으로 수행
# and : 논리연산의 역할 (좌항이 False면 우항을 수행 안 함)
# isdigit() : 문자열이 '숫자'로만 이루어져있는지 확인하는 함수
# isinstance(확인하고자 하는 데이터 값, 확인하고자 하는 데이터 타입)
def parse_int(price):
   # print(type(price))
    if isinstance(price, str) and price.replace(',', '').isdigit(): 
        return int(price.replace(',',''))
    elif isinstance(price, int) :
        return price
    else :
        return 0

In [ ]:
print(parse_int('ㅁ')) # 0
print(parse_int(None)) # 0
print(parse_int(9200)) # 9200
print(parse_int('13,500')) # 13500

In [ ]:
testFunc = lambda book : int(book.get('price').replace(',',''))\
                            if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit()\
                            else book.get('price') if isinstance(book.get('price'),int) else 0

[testFunc(book) for book in books]

In [ ]:
copybooks = books.copy()
copybooks.sort(key=lambda book : int(book.get('price').replace(',','')\
                                    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit()\
                                    else book.get('price') if isinstance(book.get('price'),int) else 0), reverse=True)
copybooks

In [ ]:
# map(func, books) price 변경
'''
{'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': '18,000'}를 매개변수로 받아 
{'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': 18000}로 return
'''

In [ ]:
def price_parse_int(book):
    # book.get('price')를 정수 가격으로 변경 (방법1)
    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit():
        book['price'] = int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int):
        pass
    else:
        book['price'] = 0
    return book

In [ ]:
# (방법 2)
def price_parse_int(book):
    return {'no':book.get('no'), 
            'title':book.get('title'), 
            'writer':book.get('writer'), \
            'price':int(book.get('price').replace(',',''))\
               if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() \
                else (book.get('price') if isinstance(book.get('price'), int) else 0)}

In [ ]:
price_parse_int = lambda book : {'no':book.get('no'), 
            'title':book.get('title'), 
            'writer':book.get('writer'), \
            'price':int(book.get('price').replace(',',''))\
               if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() \
                else (book.get('price') if isinstance(book.get('price'), int) else 0)}

In [ ]:
booktemp = {'no': 3, 'title': '트럼프2.0시대', 'writer': '박종훈', 'price': '18,000'}
returnbook = price_parse_int(booktemp)
returnbook

In [ ]:
booktemp

In [ ]:
newBooks = list(map(lambda book : {'no':book.get('no'), 
            'title':book.get('title'), 
            'writer':book.get('writer'), \
            'price':int(book.get('price').replace(',',''))\
               if isinstance(book.get('price'),str) and book.get('price').replace(',','').isdigit() \
                else (book.get('price') if isinstance(book.get('price'), int) else 0)}, 
                    books
                 ))

In [ ]:
newBooks

In [ ]:
# 예제 3.
'''
members1 = [{'name':'홍길동', 'birth':'2000-01-01'},
           {'name':'신길동', 'birth':'1995-12-18'},]를 
members1 = [{'name':'홍길동', 'birth':'2000-01-01', 'year': 2000, 'month':1, 'day': 1},
           {'name':'신길동', 'birth':'1995-12-18', 'year': 1995, 'month':12, 'day': 18},]
'''

In [27]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]
def split_date(date) :
    split_data = date.split('-')
    return {'year':split_data[0], 'month':split_data[1], 'day':split_data[2]}

In [28]:
split_date('2000-01-01')

{'year': '2000', 'month': '01', 'day': '01'}

In [29]:
def split_birth(member) : # 'name', 'birth'
    return {'name':member.get('name'),
           'year':int(member.get('birth').split('-')[0]),
           'month':int(member.get('birth').split('-')[1]),
           'day':int(member.get('birth').split('-')[2])}

In [30]:
split_birth({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [31]:
split_birth = lambda member : { 'name':member['name'],
                               'year':int(member['birth'].split('-')[0]),
                              'month':int(member['birth'].split('-')[1]),
                              'day':int(member['birth'].split('-')[2])}

In [32]:
split_birth({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [40]:
members2 = list(map(lambda member : {'name':member['name'],
                                    'year':int(member['birth'].split('-')[0]),
                                    'month':int(member['birth'].split('-')[1]),
                                    'day':int(member['birth'].split('-')[2]),},
                  members1
                  ))
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [41]:
def join_date(date): # {'year': 1995, 'month': 12, 'day': 18} > "1955-12-18"
    return '{year}-{month:02}-{day:02}'.format(**date) ## 딕셔너리데이터 언패킹

In [42]:
join_date({'year': 1995, 'month': 1, 'day': 1})

'1995-01-01'

In [43]:
def join_birth(member) :
    name = member['name']
    del member['name']
#     print(member)
    join_date = '{year}-{month:02}-{day:02}'.format(**member)
    return{'name':name,
           'birth':join_date}

In [44]:
join_birth({'name':'kim','year':1955, 'month':1, 'day':2})

{'name': 'kim', 'birth': '1955-01-02'}

In [46]:
members1 = list(map(join_birth, members2))
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

## 4.3 return문에 람다식 사용

In [61]:
# 매개변수에 함수 사용
def apply(data, func=None):
    #if func == None:
    if func is None:
        return data
    else:
        return func(data)

In [60]:
print(apply(2))
print(apply(2, lambda x: x**3))

2
8

In [71]:
# 함수를 return
'''
make_box([2,3]) => 2차원 2행 3열짜리 list를 만드는 함수를 return
    fun = make_box([2,3])
    fun(5) => [[5,5,5],
               [5,5,5]]
make_box((2,)) => 1차원 2열짜리 list 만드는 함수를 return
    fun = make_box([2])
    fun(7) => [7,7]
'''
def make_box(shape) : # [x] , [x,y]
    def box(init_value): 
        if len(shape)==1:
            return [init_value]*shape[0] # 1차원 list
        elif len(shape)==2:
            return [[init_value]*shape[1]]*shape[0]
    return box

In [78]:
# 람다식 return
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [[init_value]*shape[1]]*shape[0]

In [79]:
line_fun = make_box( (3,))
line_fun(5)

[5, 5, 5]

In [80]:
box2d_fun = make_box( (4,3))
box2d_fun(5)

[[5, 5, 5], [5, 5, 5], [5, 5, 5], [5, 5, 5]]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자로 사용하는 것을 피한다

In [84]:
int('6')

6

In [85]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': '\nmake_box([2,3]) => 2차원 2행 3열짜리 list를 만드는 함수를 return\n    fun = make_box([2,3])\n    fun(5) => [[5,5,5],\n               [5,5,5]]\nmake_box((2,)) => 1차원 2열짜리 list 만드는 함수를 return\n    fun = make_box([2])\n    fun(7) => [7,7]\n',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "members = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]\ndef split_date(date) :\n    split_data = date.split('-')\n    return {'year':split_data[0], 'month':split_data[1],'day':split_data[2]}",
  "split_date('2000-01-01')",
  "def split_birth(member) : # 'name', 'birth'\n    return {'name':member.get('name'),\n           'year':int(member.get('birth').split('-')[0]),\n           'month':int(member.get('birth').split('-')[1]),\n           'day':int(member.get('birth').split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "split_birth = lambda member : { 'name':member['name'],\n                               'year':int(member['birth'].split('-')[0]),\n                              'month':int(member['birth'].split('-')[1]),\n                              'day':int(member['birth'].split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "members = list(map(lambda member : {'name':member['name'],\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2]),},\n                  members\n                  ))\nmembers",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{}-{:2}-{:2}\'.format(date[\'year\'], date[\'month\'], date[\'day\'])',
  "join_date({'year': 1995, 'month': 12, 'day': 18})",
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{}-{:02}-{:02}\'.format(date[\'year\'], date[\'month\'], date[\'day\'])',
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(date[\'year\'], date[\'month\'], date[\'day\'])',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format( year=date[\'year\'], month=date[\'month\'], day=date[\'day\'])',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(**date)',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n    print(member)",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n    print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n          'birth':join_date}",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n           'birth':join_date}",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  'members = list(map(join_birth, members))\nmembers',
  "members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]\ndef split_date(date) :\n    split_data = date.split('-')\n    return {'year':split_data[0], 'month':split_data[1], 'day':split_data[2]}",
  "split_date('2000-01-01')",
  "def split_birth(member) : # 'name', 'birth'\n    return {'name':member.get('name'),\n           'year':int(member.get('birth').split('-')[0]),\n           'month':int(member.get('birth').split('-')[1]),\n           'day':int(member.get('birth').split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "split_birth = lambda member : { 'name':member['name'],\n                               'year':int(member['birth'].split('-')[0]),\n                              'month':int(member['birth'].split('-')[1]),\n                              'day':int(member['birth'].split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "members2 = list(map(lambda member : {'name':member['name'],\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2]),},\n                  members\n                  ))\nmembers",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(**date) ## 딕셔너리데이터 언패킹',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n           'birth':join_date}",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  'members = list(map(join_birth, members))\nmembers',
  'members1 = list(map(join_birth, members))\nmembers1',
  "members2 = list(map(lambda member : {'name':member['name'],\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2]),},\n                  members1\n                  ))\nmembers2",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(**date) ## 딕셔너리데이터 언패킹',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n           'birth':join_date}",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  'members1 = list(map(join_birth, members))\nmembers1',
  'members1 = list(map(join_birth, members2))\nmembers1',
  "def apply(data, func=None):\n    if func is None:\n        print(func)\n    else:\n        print('func가 None아님')",
  "def apply(data, func=None):\n    if func is None:\n        print('func가 None')\n    else:\n        print('func가 None아님')",
  'apply(1)',
  "def apply(data, func=None):\n    if func == None:\n    if func is None:\n        print('func가 None')\n    else:\n        print('func가 None아님')",
  "def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        print('func가 None')\n    else:\n        print('func가 None아님')",
  'apply(1)',
  "def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        print('func가 None아님')",
  'apply(1)',
  'def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        return func(data)',
  'apply(1)',
  'def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        return func(data)',
  'apply(1)',
  'apply(1,2)',
  'print(apply(2))\nprint(apply(2, lambda x:x**3))',
  'def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        return func(data)',
  "# 함수를 return\n'''\nmake_box([2,3]) => 2차원 2행 3열짜리 list를 만드는 함수를 return\n    fun = make_box([2,3])\n    fun(5) => [[5,5,5],\n               [5,5,5]]\nmake_box((2,)) => 1차원 2열짜리 list 만드는 함수를 return\n    fun = make_box([2])\n    fun(7) => [7,7]\n'''\ndef make_box(shape) : # [x] , [x,y]\n    def box(init_value): \n        if len(shape)==1:\n            return [init_value]*shape[0] # 1차원 list\n        elif len(shape)==2:\n            return [[init_value]*shape[1]]*shape[0]\n        return box",
  'line_fun = make_box( (3,) )',
  'line_fun = make_box( (3,) )\nline_fun',
  'line_fun = make_box( (3,) )\nline_fun',
  "# 함수를 return\n'''\nmake_box([2,3]) => 2차원 2행 3열짜리 list를 만드는 함수를 return\n    fun = make_box([2,3])\n    fun(5) => [[5,5,5],\n               [5,5,5]]\nmake_box((2,)) => 1차원 2열짜리 list 만드는 함수를 return\n    fun = make_box([2])\n    fun(7) => [7,7]\n'''\ndef make_box(shape) : # [x] , [x,y]\n    def box(init_value): \n        if len(shape)==1:\n            return [init_value]*shape[0] # 1차원 list\n        elif len(shape)==2:\n            return [[init_value]*shape[1]]*shape[0]\n        return box",
  'line_fun = make_box( (3,) )\nline_fun',
  'line_fun = make_box( (3,))\nline_fun',
  "# 함수를 return\n'''\nmake_box([2,3]) => 2차원 2행 3열짜리 list를 만드는 함수를 return\n    fun = make_box([2,3])\n    fun(5) => [[5,5,5],\n               [5,5,5]]\nmake_box((2,)) => 1차원 2열짜리 list 만드는 함수를 return\n    fun = make_box([2])\n    fun(7) => [7,7]\n'''\ndef make_box(shape) : # [x] , [x,y]\n    def box(init_value): \n        if len(shape)==1:\n            return [init_value]*shape[0] # 1차원 list\n        elif len(shape)==2:\n            return [[init_value]*shape[1]]*shape[0]\n        return box",
  'line_fun = make_box( (3,))\nline_fun',
  "# 함수를 return\n'''\nmake_box([2,3]) => 2차원 2행 3열짜리 list를 만드는 함수를 return\n    fun = make_box([2,3])\n    fun(5) => [[5,5,5],\n               [5,5,5]]\nmake_box((2,)) => 1차원 2열짜리 list 만드는 함수를 return\n    fun = make_box([2])\n    fun(7) => [7,7]\n'''\ndef make_box(shape) : # [x] , [x,y]\n    def box(init_value): \n        if len(shape)==1:\n            return [init_value]*shape[0] # 1차원 list\n        elif len(shape)==2:\n            return [[init_value]*shape[1]]*shape[0]\n    return box",
  'line_fun = make_box( (3,))\nline_fun',
  'line_fun = make_box( (3,))\nline_fun(5)',
  'line_fun = make_box( (3,))\nline_fun(5, 2)',
  'line_fun = make_box( (3,))\nline_fun(5)',
  'box2d_fun = make_box( (4,3))',
  'box2d_fun = make_box( (4,3))\nbox2d_fun(5)',
  '# 람다식 return\ndef make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [[init_value]*shape[1]]*shape[0]',
  'line_fun = make_box( (3,))\nline_fun(5)',
  'box2d_fun = make_box( (4,3))\nbox2d_fun(5)',
  "int('6')",
  "int('6.3')",
  "float(int('6.3'))",
  "int('6')",
  'globals() # 전역변수 리스트'],
 '_oh': {2: {'year': '2000', 'month': '01', 'day': '01'},
  4: {'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
  6: {'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
  7: [{'year': 2000, 'month': 1, 'day': 1},
   {'year': 1995, 'month': 12, 'day': 18}],
  9: '1995-12-18',
  10: '1995- 1- 1',
  15: '1995-01-01',
  17: '1995-01-01',
  25: {'name': 'kim', 'birth': '1955-01-02'},
  26: [{'birth': '2000-01-01'}, {'name': '신길동', 'birth': '1995-12-18'}],
  28: {'year': '2000', 'month': '01', 'day': '01'},
  30: {'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
  32: {'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
  33: [{'birth': '2000-01-01'}, {'name': '신길동', 'birth': '1995-12-18'}],
  35: '1995-01-01',
  37: {'name': 'kim', 'birth': '1955-01-02'},
  40: [{'year': 2000, 'month': 1, 'day': 1},
   {'year': 1995, 'month': 12, 'day': 18}],
  42: '1995-01-01',
  44: {'name': 'kim', 'birth': '1955-01-02'},
  46: [{'name': '홍길동', 'birth': '2000-01-01'},
   {'name': '신길동', 'birth': '1995-12-18'}],
  54: 1,
  56: 1,
  58: 1,
  72: <function __main__.make_box.<locals>.box(init_value)>,
  73: [5, 5, 5],
  75: [5, 5, 5],
  77: [[5, 5, 5], [5, 5, 5], [5, 5, 5], [5, 5, 5]],
  79: [5, 5, 5],
  80: [[5, 5, 5], [5, 5, 5], [5, 5, 5], [5, 5, 5]],
  81: 6,
  84: 6},
 '_dh': [WindowsPath('D:/ai/source/07_python')],
 'In': ['',
  "members = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]\ndef split_date(date) :\n    split_data = date.split('-')\n    return {'year':split_data[0], 'month':split_data[1],'day':split_data[2]}",
  "split_date('2000-01-01')",
  "def split_birth(member) : # 'name', 'birth'\n    return {'name':member.get('name'),\n           'year':int(member.get('birth').split('-')[0]),\n           'month':int(member.get('birth').split('-')[1]),\n           'day':int(member.get('birth').split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "split_birth = lambda member : { 'name':member['name'],\n                               'year':int(member['birth'].split('-')[0]),\n                              'month':int(member['birth'].split('-')[1]),\n                              'day':int(member['birth'].split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "members = list(map(lambda member : {'name':member['name'],\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2]),},\n                  members\n                  ))\nmembers",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{}-{:2}-{:2}\'.format(date[\'year\'], date[\'month\'], date[\'day\'])',
  "join_date({'year': 1995, 'month': 12, 'day': 18})",
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{}-{:02}-{:02}\'.format(date[\'year\'], date[\'month\'], date[\'day\'])',
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(date[\'year\'], date[\'month\'], date[\'day\'])',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format( year=date[\'year\'], month=date[\'month\'], day=date[\'day\'])',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(**date)',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n    print(member)",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n    print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n          'birth':join_date}",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n           'birth':join_date}",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  'members = list(map(join_birth, members))\nmembers',
  "members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]\ndef split_date(date) :\n    split_data = date.split('-')\n    return {'year':split_data[0], 'month':split_data[1], 'day':split_data[2]}",
  "split_date('2000-01-01')",
  "def split_birth(member) : # 'name', 'birth'\n    return {'name':member.get('name'),\n           'year':int(member.get('birth').split('-')[0]),\n           'month':int(member.get('birth').split('-')[1]),\n           'day':int(member.get('birth').split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "split_birth = lambda member : { 'name':member['name'],\n                               'year':int(member['birth'].split('-')[0]),\n                              'month':int(member['birth'].split('-')[1]),\n                              'day':int(member['birth'].split('-')[2])}",
  "split_birth({'name':'홍길동', 'birth':'2000-01-01'})",
  "members2 = list(map(lambda member : {'name':member['name'],\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2]),},\n                  members\n                  ))\nmembers",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(**date) ## 딕셔너리데이터 언패킹',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n           'birth':join_date}",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  'members = list(map(join_birth, members))\nmembers',
  'members1 = list(map(join_birth, members))\nmembers1',
  "members2 = list(map(lambda member : {'name':member['name'],\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2]),},\n                  members1\n                  ))\nmembers2",
  'def join_date(date): # {\'year\': 1995, \'month\': 12, \'day\': 18} > "1955-12-18"\n    return \'{year}-{month:02}-{day:02}\'.format(**date) ## 딕셔너리데이터 언패킹',
  "join_date({'year': 1995, 'month': 1, 'day': 1})",
  "def join_birth(member) :\n    name = member['name']\n    del member['name']\n#     print(member)\n    join_date = '{year}-{month:02}-{day:02}'.format(**member)\n    return{'name':name,\n           'birth':join_date}",
  "join_birth({'name':'kim','year':1955, 'month':1, 'day':2})",
  'members1 = list(map(join_birth, members))\nmembers1',
  'members1 = list(map(join_birth, members2))\nmembers1',
  "def apply(data, func=None):\n    if func is None:\n        print(func)\n    else:\n        print('func가 None아님')",
  "def apply(data, func=None):\n    if func is None:\n        print('func가 None')\n    else:\n        print('func가 None아님')",
  'apply(1)',
  "def apply(data, func=None):\n    if func == None:\n    if func is None:\n        print('func가 None')\n    else:\n        print('func가 None아님')",
  "def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        print('func가 None')\n    else:\n        print('func가 None아님')",
  'apply(1)',
  "def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        print('func가 None아님')",
  'apply(1)',
  'def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        return func(data)',
  'apply(1)',
  'def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        return func(data)',
  'apply(1)',
  'apply(1,2)',
  'print(apply(2))\nprint(apply(2, lambda x:x**3))',
  'def apply(data, func=None):\n    #if func == None:\n    if func is None:\n        return data\n    else:\n        return func(data)',

In [87]:
# abc(7) => [0, 1, 2, 3, 4, 5, 6]
def abc(n):
    L = []
    for i in range(n):
        L.append(i)
    print(locals()) # 내 함수안 지역변수들을 출력 n, i, L
    return L

In [88]:
abc(7)

{'n': 7, 'L': [0, 1, 2, 3, 4, 5, 6], 'i': 6}

[0, 1, 2, 3, 4, 5, 6]

In [89]:
isinstance(3.5, float)

True

In [92]:
class Person : 
    def __init__(self, name, age): # self == this 
        self.name = name
        self.age = age
    def print_info(self):
        # 객체의 정보를 출력
        print("이름은 {}, 나이는 {}살".format(self.name, self.age))

In [95]:
p = Person('홍길동', 30)
p.print_info()

이름은 홍길동, 나이는 30살

In [96]:
p.name, p.age

('홍길동', 30)

In [97]:
isinstance(p, Person)

True

In [98]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'print_info']

In [99]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [101]:
all([True, True, True, False]) # all : 모든 요소가 True인지 여부

False

In [102]:
round(3.5) # 반올림

4

In [104]:
import numpy
numpy.round(3.5), numpy.ceil(3.1), numpy.floor(3.5)

(4.0, 4.0, 3.0)