# 문제

In [1]:
## 이름과나이변수를다음형식으로출력하도록format() 함수를이용해형식화하세요
## [출력형식: 홍길동님의나이는23살입니다]
name = "홍길동"
age = 23
print("{}님의 나이는 {}살입니다".format(name, age))

홍길동님의 나이는 23살입니다

In [18]:
# 두정수를입력받아두수의덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를출력하세요
num1 = int(input("첫번째 수를 입력해주세요"))
num2 = int(input("두번쨰 수를 입력해주세요"))
print("두수의 합은 : {}".format(num1+num2))
print(num1-num2)
print(num1/num2)
print(num1*num2)
print(num1//num2)
print(num1%num2)

첫번째 수를 입력해주세요1
두번쨰 수를 입력해주세요1
두수의 합은 : 2
0
1.0
1
1
0

In [19]:
## 문자열의분리하기와합치기기능을이용하여‘Hello World’가할당된변수를이용하여
## ‘World Hello’로 출력하세요
a = 'Hello World'
date = a.split(' ')
print(date[1],date[0])

World Hello

In [27]:
x = 'abcdef'
print(x[1:]+x[0])

bcdefa

In [29]:
# x = ‘abcdef’를 이용하여 ‘fedcba’로 출력하세요
x = 'abcdef'
print(x[::-1])

fedcba

In [42]:
'''
오늘의온도를섭씨온도로입력받아화씨온도로변환하는프로그램을작성하세요. 화
씨온도는소수점이있을경우만 두번째자리까지출력되고, 소수점이하값이없는경
우소수점을출력하지않도록합니다.(다음은섭씨와화씨의변환공식입니다. C는섭씨, 
F는화씨)
 C = (F-32) / 1.8
 56
 F = (C*1.8) + 32
'''
c = float(input('섭씨를 입력하세요'))
f = (c*1.8) + 32
print('섭씨 {}도는 화씨온도로 변경하면 {:.2f}도 입니다'.format(c,f))

섭씨를 입력하세요27
섭씨 27.0도는 화씨온도로 변경하면 80.60도 입니다

In [45]:
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0]) #SeounSeoul
print(text[:4], text[-1], text.split()[0]) #Seou n Seoul

SeounSeoul
Seou n Seoul

In [50]:
8**2

64

In [ ]:
def safe_index(vector, item) : 
    if item in vector :
        return vector.index
    else :
        return -1
safe_index(v, 1), safe_index(v, 4)

In [1]:
safe_index = lambda vector, item : vector.index(item) if item in vector else -1

In [2]:

safe_index([1, 2, 3, 4], 1), safe_index((1, 2, 3), 5)

(0, -1)

In [3]:
# 매개변수로 들어온 값이 짝수면 '짝수', 홀수면 '홀수' return
num = lambda num : '짝수' if num%2==0 else '홀수'

In [6]:
num(5)

'홀수'

In [ ]:
def levelChk(score):
    if score >= 80:
        return 'A'
    elif score >= 60:
        return 'B'
    else :
        return '재시험'
levelChk(-65), levelChk(85)

In [12]:
levelChk = lambda score : 'A' if 90 <= score <=100 else\
                          'B' if 80 <= score < 90 else \
                          'C' if 70 <= score < 80 else \
                          'D' if 60 <= score < 70 else \
                          'F' if 0 <= score < 60 else '유효하지않은 점수'
levelChk(-50)

'유효하지않은 점수'

In [17]:
add = lambda a, b : a+b
sub = lambda a, b : a-b
mul = lambda a, b : a*b
div = lambda a, b : a/b if b!=0 else '두번째 인자가 0으로는 못 나눠요'
add(3, 0), div(3, 0)

operations = [add, sub, mul, div]
# 매개변수로 함수 list가 옴
def act_operations(a, b, operations=operations):
    result=[]
    for op in operations:
        result.append(op(a, b))
    return result
operations.append(lambda a,b : a**b)
print(act_operations(10, 2, [lambda a, b : a**b, lambda a, b : a*10+b]))

[100, 102]

In [18]:
# act_operations의 함수를 리스트컴프리헨션을 이용하여 람다식으로 구현
operations = [add, sub, mul, div]
def act_operations(a, b, operations=operations):
    return [op(A, b) for op in operation]

In [20]:
# 람다식과 리스트컴프리헨션으로 변경
act_operations = lambda a, b, operations=operations : [op(a, b) for op in operations] 
# [op(a, b) for op in operations] 리스트컴프리헨션
print(act_operations(5, 2, [lambda a, b : a+b, lambda a, b : a**b]))
operations.append(lambda a, b : a**b)
print(act_operations(5, 2))

[7, 25]
[7, 3, 10, 2.5, 25]

In [21]:
## 4.2 함수의 매개변수(인수)에 람다식 사용
# map 함수 만들어서 사용해보기
def map_template(func, L=[]):
    result = []
    for item in L :
        result.append(func(item))
    return result

In [22]:
list_data = [1, 2, 3, 4, 5, 6, 7, 8]
map_template(lambda x : x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16]

In [24]:
# 리스트컴프리헨션
[x*2 for x in list_data]
# map map객체를 리턴 위에서 만든 map_template 이랑 같은용도
# map 함수는 매개변수로 lambda식을 사용
list(map(lambda x : x*2, list_data))
for x in map(lambda x : x*2, list_data):
    print (x, end=' ')

2 4 6 8 10 12 14 16

In [31]:
# filter는 만족하는 조건만 
def filter_template(func, L=[]):
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [32]:
def evenChk(value):
    return value%2==0
list_data = [1, 2, 3, 4, 5, 6, 7, 8]
filter_template(lambda x : x%2==0, L=list_data)

[2, 4, 6, 8]

In [35]:
# filter 함수이용
for item in filter(lambda x : x%2==0, list_data):
    print(item, end = ' ')

2 4 6 8

In [36]:
# 리스트컴프리헨션
[x for x in list_data if x%2==0]

[2, 4, 6, 8]

In [49]:
# quiz : 다음 리스트에서 소숫점이하가 0인 수만 추출하시오 
# filter함수, 람다식이용 / filter_template / 리스트컴프리헨션 
L = [1, 1.2, 1.5, 2, 3.0, 10.5, 100]
x=2
print(list(filter(lambda x : x%1.0 == 0, L)))
print(list(filter(lambda x: x == round(x), L)))

[1, 2, 3.0, 100]
[1, 2, 3.0, 100]

In [64]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]

In [65]:
def split_birth(member) : 
    return {'name':member.get('name'),
           'year':int(member.get('birth').split('-')[0]),
           'month':int(member.get('birth').split('-')[1]),
           'day':int(member.get('birth').split('-')[2])}

In [66]:
split_birth({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [67]:
split_birth = lambda member : {'name':member['name'],
                               'year':member['birth'].split('-')[0],
                               'month':member['birth'].split('-')[1],
                               'day':member['birth'].split('-')[2],}

In [68]:
split_birth({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': '2000', 'month': '01', 'day': '01'}

In [71]:
members2 = list(map(lambda member : {'name':member['name'],
                               'year':member['birth'].split('-')[0],
                               'month':member['birth'].split('-')[1],
                               'day':member['birth'].split('-')[2],},
                      members1
                      ))
members2

[{'name': '홍길동', 'year': '2000', 'month': '01', 'day': '01'},
 {'name': '신길동', 'year': '1995', 'month': '12', 'day': '18'}]

In [75]:
def join_data(data):
    return '{year}-{month:02}-{day:02}'.format(**data)

In [76]:
join_data({'name':'kim', 'year': 1955, 'month':1, 'day':1})

'1955-01-01'

In [81]:
def join_birth(member) :
    name = member['name']
    join_date = '{year}-{month:02}-{day:02}'.format(**member)
    return{'name':name,
           'birth':join_date}

In [82]:
join_birth({'name':'kim','year':1955, 'month':1, 'day':2})

{'name': 'kim', 'birth': '1955-01-02'}