In [53]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:88% !important;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-header{margin-top:150px;}
span.toc-item-num{
display:none;
}
.comment, .cm-comment {
    color: #FF00FF !important;
}
</style>
"""))

   <b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 1절. 변수

## 1.1 변수 선언
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.2 변수할당
- 할당연산자를 이용해서 변수값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체

In [2]:
r = 5
area = 3.14 * r * r
print('계산된 넓이는', area) # ,를 쓰게되면 출력사이에 스페이스가 붙음

계산된 넓이는 78.5

In [3]:
import numpy as np # numpy라는 패키지(폴더)를 np라는 이름으로 사용

In [4]:
area = np.pi * r * r
area # 한줄만 출력할땐 print 사용하지않아도 출력가능 여러줄 사용할땐 전부 print 작성

78.53981633974483

In [ ]:
print('area의 주소', id(area)) # id(area) : area변수(객체)의 주소값 
print('area의 타입', type(area))

In [5]:
area.is_integer()

False

In [6]:
area = 10;

In [7]:
print('area의 주소', id(area)) 
print('area의 타입', type(area))

area의 주소 2854805963280
area의 타입 <class 'int'>

In [8]:
area = '파이썬'
print('area의 주소', id(area)) 
print('area의 타입', type(area))

area의 주소 2854881469872
area의 타입 <class 'str'>

## 1.3 변수 이름 규칙
- 문자로 시작
- 문자(특수문자는 _제외 전부 불가), 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 사용해야 하면 int_식으로 _를 붙여서 사용
- 파이썬 예약어(if, while,...)는 변수이름 사용 불가.
- 한글 변수는 꼭 필요시만 사용

In [9]:
이름 = "홍길동"
이름

'홍길동'

In [10]:
print(이름)

홍길동

In [11]:
if = 6

SyntaxError: invalid syntax (675644739.py, line 1)

In [12]:
member.name = 5 #변수에 .사용불가 (R에서는  .을 변수명에 사용 가능)

NameError: name 'member' is not defined

In [17]:
member_name = 5 # 파이썬에서 많이 사용 
memberName = 5 # 카멜표기법 객체 지향 언어에서 많이 사용

In [13]:
print = 5

In [14]:
print(이름)

TypeError: 'int' object is not callable

In [15]:
del print # print 변수 삭제
print_ = 5
print(이름)

홍길동

In [18]:
# 숫자 : 정수, 실수, 복소수
i = 3 + 3j
type(i)

complex

In [19]:
isinstance(i, complex) # i변수(객체)가 complex(복소수) 타입인지 여부

True

## 1.4 도움말

In [20]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [21]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [22]:
# 도움말 기능 : shift+tap 키 
print()

In [30]:
def add(x, y=0): #함수, 도움말 생성
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨(default값 0)
    사용법 : add(2, 3) > 23
    '''
    return x*10+y

In [34]:
add(5, 4)

54

In [33]:
add(5)

50

In [35]:
a = add  # 함수형 언어는 변수에 함수 할당 가능 a랑 add는 같은 함수

In [37]:
a(5, 4)

54

In [38]:
a(5)

50

## 1.5 다중 변수 선언

In [40]:
a = 10
b = 20

In [42]:
a, b = 10, 20 # 동시에 다중 변수 선언

In [43]:
a, b

(10, 20)

In [44]:
a, b = b, a+b # 다중 변수 할당시 순차적 할당이 아니고 일괄 동시 할당

In [45]:
a, b

(20, 30)

# 2절. 화면i/o

In [47]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자열
first = input()
first

01

'01'

In [52]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?10
두번째 숫자는?60

In [53]:
print('두수의 합은', first+second)

두수의 합은 1060

In [56]:
sum = int(first) + int(second)

In [57]:
print('합', sum)

합 70

In [68]:
print('합', sum, 'Hello', 'World', sep=' / ', end='\t\t')
print('Hello', 'python', sep=' ~ ')

합 / 70 / Hello / World		Hello ~ python

In [70]:
import sys
print('Hello', 'World', 'Hello', 'python', file=sys.stdout)

Hello World Hello python

# 3절. 기본 자료형
- 프로그래밍 언어들은 변수가 가져야 할 값의 형식, 범위에 따라 값의 유형을 정해 놓고 사용.
- 자료형에 따라 값의 크기와 저장방식이 달라짐.
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐.

    * `숫자` - int, float, complex
    * `문자` - str
    * `논리` - bool

## 3.1숫자형

In [71]:
import sys
print(sys.maxsize) # system 저장할수 있는 정수의 최대값 : 2^63-1

9223372036854775807

In [73]:
i = sys.maxsize + 100 # 최대값이 넘어가도 저장이 가능함 (수에 제한이 없음)
print('i값', i)
print(type(i))

i값 9223372036854775907
<class 'int'>

In [75]:
f = 3/2 # 정수/정수는 무조건 실수
f

1.5

In [76]:
f = 3/3
f

1.0

In [79]:
## 자바처럼 정수/정수의 결과를 정수로
f = int(3/2) # int() : int로 형변환
print(f)
f = 3//2 # 몫 연산자
print(f)

1
1

In [80]:
c = 1j # 수학시간 1i
print(c**2) # c의 제곱

(-1+0j)

In [83]:
f = 1.12e12 # 1.12*10의 12승 (1120000000000)
print('지수형은 실수형으로 저장', f)
f = 1.12e-12 # 1.12*10의 -12승
print('지수형표현은 할당시 실수형으로 저장:', f)

지수형은 실수형으로 저장 1120000000000.0
지수형표현은 할당시 실수형으로 저장: 1.12e-12

## 3.2 문자형

In [88]:
name = '홍길동\'짱\'' # 홍길동'짱'
address = "서울시 관악구 '신림'동"
print(name, address)

홍길동'짱' 서울시 관악구 '신림'동

In [91]:
text = '여러줄짜리 내용을 저장\n줄바꿈 문자를 쓰면 여러줄\n줄바꿈은 가독성 떨어져'
print(text)

여러줄짜리 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈은 가독성 떨어져

In [93]:
text = '''여러줄 짜리 내용을 저장
줄바꿈 문자 쓰지않고 따옴표 3개로 처리
이처럼 쓰는 경우가 더 많아요
'''
print(text) #'''이거나''' """이거나""" 여러줄 작성하고 Enter사용시 \n이 자동으로 가능

여러줄 짜리 내용을 저장
줄바꿈 문자 쓰지않고 따옴표 3개로 처리
이처럼 쓰는 경우가 더 많아요

### ※ 문자열 연산

In [3]:
'''
    여러줄 주석 용도
    2024.11.05 문자열 연산 by 아무개
'''
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)

홍길동동해번쩍

In [4]:
print(name1 * 3) #문자열을 곱하면 반복연산

홍길동홍길동홍길동

### ※ raw 데이터
        - 용도1 : 정규표현식 이용 
        - 용도2 : 디렉토리 경로를 표현시 이용

In [6]:
# raw 데이터 처리시 이스케이프 문자가 그대로 출력(\n, \t, \r, \', \") 이스케이프 문자가 들어간 자체를 저장하고 싶을때 raw데이터 처리
print(r'Hello\nWorld')

Hello\nWorld

In [39]:
# 정규표현식 이용
import re # re라는 패키지를 가져와야함
data = "이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 \
혈액형:B"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888, 핸드폰:010-9999-9999, 특징:동해번쩍 서해번쩍 혈액형:B

In [40]:
#정규표현식 처리에서는 raw 데이터 처리를 하지 않아도 실행은 되나 
#실수를 줄이고 가독성을 높이는 용도로 raw 데이터 처리를 사용
tel_pattern = r"\d{2,3}-\d{3,4}-\d{4}"
tels = re.findall(tel_pattern, data) #특정한 데이터를 해당 패턴을 찾아오는 함수(re.findall)
print(tels)

['02-888-8888', '010-9999-9999']

In [41]:
# 정규표현식 패턴과 처음 match 되는 것 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [45]:
print(data[18:29]) #전화번호 위치 []문자형슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [43]:
phone_pattern = r'(\d{2,3})-(\d{3,4})-(\d{4})' # ()로 그룹화를 시켜서 group을 따로따로 지정해서 불러올수있음. group(1)...
first_phone = re.search(phone_pattern, data)
print(first_phone)

<re.Match object; span=(18, 29), match='02-888-8888'>

In [44]:
print('전체 전화번호 :', first_phone.group(0))
print('국번 :', first_phone.group(1))
print('중간번호 :', first_phone.group(2))
print('끝번호 : ', first_phone.group(3))

전체 전화번호 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 :  8888

In [48]:
# 파일경로에는 반드시 r을 사용하거나 \\로 이용하거나 /를 사용
# file_path = 'D:\\ai\\source\\07_python\\test.txt'
# file_path = 'D:/ai/source/07_python/test.txt'
file_path = r'D:\ai\source\07_python\test.txt'

In [54]:
file_stream = open(file_path, 'w')
print('Hello, Wolrd', 'Hello, Python', sep='\n') # 콘솔 출력
print('Hello, Wolrd', 'Hello, Python', sep='\n', file=file_stream) #파일출력
file_stream.close() #close하지 않으면 저장 안 됨

Hello, Wolrd
Hello, Python

### ※ 문자열 슬라이싱

In [2]:
str_ = '0123456789'
str_

'0123456789'

In [7]:
str_[0], str_[2], str_[-1] #음수인덱싱은 맨 마지막이 -1

('0', '2', '9')

In [8]:
str_(10)

TypeError: 'str' object is not callable

In [4]:
'''
 문자열변수[from:stop] : from부터 stop 앞까지 추출
 문자열변수[from:stop:step] : from부터 stop 앞까지 step씩 전진하면서 추출
     from 생략시 처음부터
     stop 생략시 끝까지
     step 생략시 1
'''
str_[0:3] # 0번째부터 3번째 앞까지

'012'

In [9]:
str_[-5:-1] # -5번번째 부터 -1번째 앞까지

'5678'

In [10]:
# 인덱싱시 없는 인덱스 번호를 사용하면 에러
# 슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미
str_[5:19]

'56789'

In [11]:
print(str_[0:10])
print(str_[0:10:2])

0123456789
02468

In [14]:
print(str_[:6]) # 처음부터 6번째 앞까지
print(str_[5:]) # 5번째부터 끝까지

012345
56789

In [15]:
print(str_[9:0:-1]) # 9번째부터 0번째전까지 -1씩 전진

987654321

In [5]:
# 마지막부터 처음까지 꺼꾸로 출력
print(str_[9::-1])
print(str_[::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True, False)

In [10]:
a = True
print(a)
print(type(a)) # 타입
print(isinstance(a, bool)) # bool 타입인지 여부

True
<class 'bool'>
True

In [12]:
int(True), int(False)

(1, 0)

In [13]:
# False로 간주되는 것 : 0, ''-(빈스트링), None(결측치), []-(빈리스트), ()-빈튜플, {}-빈딕셔너리

In [18]:
if '':
    print('True다')
else :
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수
    - type()
    - int() : 정수형 변환
    - float() : 실수형 변환
    - str() : 문자형 변환
    - bool() : 논리형 변환

In [26]:
int('123'), int(123.45), int(True) # 소숫점 이하는 버림

(123, 123, 1)

In [28]:
# 에러나는 것들
int(''), int(' '), int(None), int('123.45'), int('1,456')

ValueError: invalid literal for int() with base 10: ' '

In [29]:
float('123.45'), float(123), float(False), float('123')

(123.45, 123.0, 0.0)

In [30]:
#에러나는 것들
float(''), float(' '), float(None), float('1,234')

ValueError: could not convert string to float: ''

In [33]:
str(10), str(10.9), str(1.12e10) #지수형으로 들어가도 출력 실수형

('10', '10.9', '11200000000.0')

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터처리시 이스케이프문자(\n,\t,\\,\')를 그대로 저장
3. 논리 - False로 판별되는 경우 0, '', None, [], (), {}