   <b><font size="6" color="red">ch02. 자료형과 연산자</font></b>

# 4절. 포맷팅
    - 포맷팅이란, 출력할 문자, 숫자, 날짜 데이터에 형식을 지정하는 것
    - 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수도 있음

## 4.1 문자열에 형식 지정

In [3]:
name = '홍길동'
age = 30
print(name, '님의 나이는 ', age, '살입니다', sep='')

홍길동님의 나이는 30살입니다

In [8]:
# %s 문자, %d 10진수정수, %f 실수
print('%s님의 나이는 %d살입니다'%(name, age))
print(f'{name}님의 나이는 {age}살입니다')

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

In [12]:
print("{}님의 나이는 {}살입니다".format(name, age))
print("{0}님의 나이는 {1}살입니다".format(name, age))
print("{1}살 {0}님 반갑습니다. {0}님 어서오세요".format(name, age))

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
30살 홍길동님 반갑습니다. 홍길동님 어서오세요

## 4.2 format() 문법

In [1]:
# "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".format(변수명)

    # 인덱스 : format 함수안의 매개변수의 순서
    # 정렬방법 : < : 왼쪽정렬, > : 오른쪽정렬, ^ : 가운데정렬
    # 정수자릿수 : 출력할 자릿수를 지정. 변수내용 보다 작은 자릿수가 지정되면 자릿수 지정 무시
    # 실수자릿수 : 전체출력자리수.변수정에출력할자리수
    # 타입 : d(10진수), o(8진수), b(2진수), x(16진수), f(실수), s(문자)

In [5]:
name = input('이름은?')
age = int(input('나이는?'))
print('{}살 {}님 안녕하세요'.format(age, name))
#공백대체문자를 쓸 경우 정렬방식을 기입
print('{0:*^5d}살 {1:_^10}님 안녕하세요'.format(age, name))

이름은?홍길동
나이는?30
30살 홍길동님 안녕하세요
*30**살 ___홍길동____님 안녕하세요

In [2]:
a = 12345 # 숫자의 경우 기본값이 오른쪽 정렬
s = 'Hello' # 문자의 경우 기본값이 왼쪽 정렬
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 출력 (정수 자릿수)
print("[{}], [{:10}], [{:3}]".format(a,a,a))
print("[{0}], [{0:10}], [{0:3}]".format(s)) #인덱스를 전부 썻기때문에 변수 하나만 작성해도 가능

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [3]:
# 정렬방법 : < ^ >
a, b, c = 10, 20, 3
print("[{:<4}], [{:^4}], [{:^4}]".format(a, b, c))

[10  ], [ 20 ], [ 3  ]

In [4]:
# 실수자릿수
a = 10
f = 123.56
s = 'Hello'
print('[{0:$>10}], [{0:10.2f}], [{1:10.1f}], [{2:10.2}]'.format(a, f, s)) # .2f 소숫점 2자리 생성
                                                # 2번 매개변수를 10자리 출력 변수의 2자리만 출력"

[$$$$$$$$10], [     10.00], [     123.6], [He        ]

In [5]:
# 공백대체문자를 쓸 경우 반드시 정렬방식을 표현
print ("[{:$>10}]".format(a))
# print("{{:$10}}".format(a)) 에러남

[$$$$$$$$10]

In [18]:
# 자리수앞에 +를 붙이면 양수의 경우도 부호를 붙여줌
# 자리수앞에 =을 붙이면 부호가 자릿수 맨 앞에 표시(음수의 경우)
# 자리수앞에 =+을 붙이면 부호가 자릿수 맨 앞에 표시(음수의 경우)
# 자리수앞에 0을 채우면 빈자리에 0을 채움
# 공백대체문자를 슬 경우 자리수 앞의 0을 무시
a, b = 123, -123
print("[{:+10}], [{:+10}], [{:=+10}]".format(b, a, a))
print("[{:+10}], [{:=10}], [{:=+10}]".format(b, a, a))
print("[{:+10}], [{:+10}], [{:=+10}], [{:=+10}]".format(b, a, b, a))
print("[{:=+010}], [{:=+010}], [{:010}]".format(b, a, a))
print("[{:★=+010}], [{:☆=+010}], [{:○^010}]".format(b, a, a)) #대체문자사용시 정렬방법은 사용해야하지만 =들어가면 안적어도 가능

[      -123], [      +123], [+      123]
[      -123], [       123], [+      123]
[      -123], [      +123], [-      123], [+      123]
[-000000123], [+000000123], [0000000123]
[-★★★★★★123], [+☆☆☆☆☆☆123], [○○○123○○○○]

In [3]:
# 전체자리수. 표현될자리수
a = 2.758
s = 'Hello'
print("a = [{:10.2}]".format(a)) # 반올림 10.2는 2자리만 표현
print("s = [{:10.2}]".format(s))

a = [       2.8]
s = [He        ]

In [5]:
# 전체자리수. 표현될자리수f
print("a = [{:10.2f}]".format(a)) # 소숫점이 10.2f는 2자리 표현

a = [      2.76]

In [6]:
# 10진수, 8진수, 16진수, 2진수 출력
a = 15
print("10진수 : [{:5d}]".format(a))
print("16진수 : [{:5x}]".format(a))
print("8진수 : [{:5o}]".format(a))
print("2진수 : [{:5b}]".format(a))

10진수 : [   15]
16진수 : [    f]
8진수 : [   17]
2진수 : [ 1111]

In [4]:
a = 2.785
print("[{:+10.3}]".format(a))

[     +2.79]

In [11]:
sign = '+'
width = 10
precision = 4
print("[{:{sign}{width}.{precision}}]".format(a, sign=sign, width=width, precision=precision))
print("[{:{}{}.{}}]".format(a, sign, width, percision))

[    +2.785]
[    +2.785]

## 4.3 날짜출력

In [2]:
# format 이용
# from 모듈 import 함수나 변수
# from 패키지(폴더) import 모듈(파이썬 파일)
# datetime 모듈(파이썬 파일 : datetime.py)안에 datetime이라는 함수 가져오기
from datetime import datetime
thatday = datetime(2024, 11, 5) # 24년 11월 4일 0시 0분 0초
thatday = datetime(2024, 11, 5, 14, 42) # 24년 11월 5일 오후 2시 42분 0초
thatday

datetime.datetime(2024, 11, 5, 14, 42)

In [3]:
print("{:%Y년%m월%d일 %H시 %M분 %S초}".format(thatday))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}".format(thatday))

2024년11월05일 14시 42분 00초
2024년11월05일 PM 02시 42분 00초

In [5]:
# 날짜를 문자열로 전환하는 함수
from time import strftime
thatdayStr = strftime("%Y년%m월%d일 %p %I시 %M분".format(thatday))
thatdayStr

'2024년11월05일 PM 02시 50분'

In [6]:
# 현재 날짜와 시간 실행한 시점
from time import localtime
now = localtime()
now

time.struct_time(tm_year=2024, tm_mon=11, tm_mday=5, tm_hour=14, tm_min=51, tm_sec=26, tm_wday=1, tm_yday=310, tm_isdst=0)

In [8]:
strftime("%Y년 %m월 %d일 %p %I시 %M분 %S초".format(now)) # y는 년도 2자리 Y 년도 4자리 p 오전오후

'2024년 11월 05일 PM 02시 53분 19초'

In [10]:
print("{:%Y년 %m월 %d일 %p %I시 %M분 %S초}".format(now))

TypeError: unsupported format string passed to time.struct_time.__format__

# 5절. 연산자

## 5.1 산술연산자 : +, -, *, /, //(몫연산자), %(나머지), **(제곱)

In [1]:
print(10**5) # 10의 5승

100000

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [5]:
a = 10
a //= 3# a = a//3
print(a)

3

## 5.3 논리연산자 : &, and, |, or, not

In [10]:
# & : 논리연산자, 비트연산자
print ( (10>3) & (10>5) ) # 논리연산 True & True
print( 12 & 1 ) # 비트연산 # 1100 (12)
                          # 0001 (1)
                          # 0000 (0)  & 좌우에 숫자가 있으면 비트연산

True
0

In [23]:
# and : 논리연산자 
#     : 거짓으로 판별되는 첫번째 항의 결과 반환
#     : 모든항이 참이면 마지막 항의 결과 반환
print( True and True and 'abc') # True
print( 0 and False)
print( True and None ) # 처음으로 나온 거짓으로 판별된 None 반환

abc
0
None

In [21]:
print( (10>5) and (10>7) )
print( (10<5) and (10>7) )

True
False

In [29]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때):',result)
result = False | 3 # 0000 | 0011
print("비트연산(연산자 앞이나 뒤에 숫자일 때):", result)

논리연산(연산자 앞뒤에 논리형일 때): True
비트연산(연산자 앞이나 뒤에 숫자일 때): 3

In [34]:
# or : 논리연산자 
#    : 참으로 판별되는 첫번째 항의 결과 반환
#    : 모든항이 거짓이면 마지막 항의 결과 반환
print( False or 0 or "" or None or [] or {} or ())
print( 'Hong' or 0 or False )

1
Hong

## 5.4 비교연산자 : >, >=, <, <=, ==, !=

In [43]:
# 비교연산자는 이항, 삼항, ... 다항 연산자
x = 5
print( (4 < x) & (x < 10) ) # 자바스타일
print( 4 < x < 10)
print( 1 < 2 < 4 < x < 10)

True
True
True

In [46]:
# 비교연산자의 우선순위가 논리연산의 우선순위보다 낮다
print( (10>5) & (10>7) )
print(  10>5  &  10>7 ) # 괄호가 없으면 우선순위가 높은 논리연산부터 실행
print(  10>(5  &  10)>7 )
print(  10 > 0 > 7 )
# 0101 (5)
# 1010 (10)
# 0000 (0)

True
False
False
False

In [50]:
address = '서울' 
age = 29
print(address=='서울' &  age >=30) # 우선순위를 보고 괄호를 반드시 해야 함

TypeError: unsupported operand type(s) for &: 'str' and 'int'

In [49]:
# 문자는 ASCII 코드 순으로 비교 : 특수문자 < 숫자문자 < 대문자 < 소문자 (abc순)
'scott' < 'tiger'

True

In [48]:
'감우성' < '홍길동' # 한글은 가나다순

True

## 5.5 비트연산

In [51]:
a = '''
x     y     x&y     x|y     x^y(XOR)다르면 1 같으면 0  ~X
0     0      0       0       0                         1
0     1      0       1       1                         1
1     0      0       1       1                         0
1     1      1       1       0                         0
'''

In [61]:
a = 15
b = 2
print("   a = {0:2} : {0:04b}".format(a))
print("   b = {0:2} : {0:04b}".format(b))
print(" a&b = {0:2} : {0:04b}".format(a&b))
print(" a|b = {0:2} : {0:04b}".format(a|b))
print(" a^b = {0:2} : {0:04b}".format(a^b))

   a = 15 : 1111
   b =  2 : 0010
 a&b =  2 : 0010
 a|b = 15 : 1111
 a^b = 13 : 1101

## 5.6 isinstance

In [63]:
a = 15
isinstance(a, float)

False

- 포멧팅 : "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".format(변수명)
- 연산자 
    * 산술연산 : + - * / // % **
    * 할당연산자 : = += -= *= /= //= %=
    * 논리연산자 : & and | or not
    * 비트연산 : ^(XOR) &(and) |(or) ~(not)
    * 논리연산자가 비교연산자보다 우선순위가 높다)