   <b><font size="6" color="red">ch03. 데이터 구조</font></b>
- 리스트[], 튜플(), 딕셔너리(hashMap과 유사), 셋

# 1절. 리스트

## 1.1 리스트 만들기
- [ ]를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음
- list()함수를 이용도 가능
- index : 각 요소의 위치. 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:by]) : 부분 데이터 셋을 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [11]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [12]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [13]:
print(fruits[0])

banana

In [18]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [23]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print("x = {}".format(x))
print("y = {}".format(y))
print("z = {}".format(z))

x = mango
y = apple
z = orange

In [24]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의 숫자를 순차적으로 사용할 수 있게
# from 생략시 : 0, by 생략시 : 1
range(10) # 0-9 순차적인 수 생성 (리스트는 아님)

range(0, 10)

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [27]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [29]:
for i in [0, 1, 2]: # 0부터 2까지 순차적인 수 생성 확장 for문이랑 비슷 in다음엔 데이터 구조들이 올수있다 
    print(i)

0
1
2

In [30]:
for i in range(3): # 0부터 2까지
    print(i)

0
1
2

In [31]:
for fruit in fruits :
    print(fruit)

mango
apple
orange

In [42]:
fruits = ['mango', 'apple', 'orange', 'banana']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [44]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'banana')]

In [47]:
for idx, value in enumerate(fruits): # enumerate key와 value를 세트로 만들어줌
    print("{}번째 과일은 {}".format(idx, value)) # 1차원 리스트

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [48]:
numbers = [1, 2, 3, "4", True, [1, 2, 3]] 
numbers

[1, 2, 3, '4', True, [1, 2, 3]]

In [53]:
# 2차원 리스트
numbers_2d = [[1, 2, 3, 4, 5], [11, 12, 13, 14, 15], [91, 92, 93, 94, 95]]
len(numbers_2d), len(numbers_2d[0]) #리스트 갯수

(3, 5)

In [55]:
numbers_2d[1][1]

12

In [61]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행 {}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print() # 개행

0행 0열 : 1	0행 1열 : 2	0행 2열 : 3	0행 3열 : 4	0행 4열 : 5
1행 0열 : 11	1행 1열 : 12	1행 2열 : 13	1행 3열 : 14	1행 4열 : 15
2행 0열 : 91	2행 1열 : 92	2행 2열 : 93	2행 3열 : 94	2행 4열 : 95

## 1.2 기본 정보 조회

In [68]:
numbers = [1, 12, 3, 4, 5]
numbers_2d = [[100, 0, 1, 2, 3], [9, 100, 110, 102, 130], [59, 105, 135]]

In [64]:
# 요소의 수 
print(len(numbers), len(numbers_2d))

5 2

In [69]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [70]:
# 2차원 List의 min() : 부분 리스트 중에서 첫요소가 가장 작은 값
#             max() : 부분 리스트 중에서 첫요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 110, 102, 130], [100, 0, 1, 2, 3])

In [71]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min(), max() 적용
fruits = ["mango", "banana", "oange"]
min(fruits), max(fruits)

('banana', 'oange')

In [76]:
# 정렬하기 sorted(오름차순), sorted(변수,reverse=True)(내림차순정렬)
numbers = [1, 12, 3, 14, 5]
print("오름차순 정렬 : ", sorted(numbers))
print("내림차순 정렬 : ", sorted(numbers,reverse=True))
print("합 : ", sum(numbers))
print("sorted 함수 사용시 리스트 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 :  [1, 3, 5, 12, 14]
내림차순 정렬 :  [14, 12, 5, 3, 1]
합 :  35
sorted 함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 14, 5]

## 1.3 요소 추가

In [77]:
# + : 두 list를 연결
# * : 리스트를 곱한 수 만큼 반복
# append() : 요소 맨 뒤에 추가
# extend() : 리스트를 요소별로 맨 뒤에 추가
# insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [93]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [94]:
numbers = [1, 2, 3]
print(numbers * 3)
print(3 * numbers) # 곱한수 만큼 list 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [95]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [96]:
numbers.append([5,6,7]) # 맨 뒤에 요소 추가 (list 상태로)
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [102]:
num = [1, 2, 3]
num.extend([4, 5, 6]) # 맨 뒤에 요소 별로 각기 추가 
num

[1, 2, 3, 4, 5, 6]

In [103]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [104]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [105]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [106]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1, 'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 데이터의 갯수 반환 없으면 0을 반환

In [110]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2)

2

In [111]:
numbers.count(9)

0

In [122]:
9 in numbers # 9가 numbers의 요소인지 여부

False

In [123]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2) # 2가 numbers 요소에 몇번째로 나오는지?

1

In [124]:
numbers.index(2, 2) # 2번째부터 2가 처음 나오는 위치

5

In [119]:
# 9가 numbers 리스트의 요소에 있는지 여부
print(numbers.count(9))
print(9 in numbers)

0
False

In [120]:
numbers.index(9) # 오류

ValueError: 9 is not in list

In [126]:
if 9 in numbers:
    print(numbers.index(9))
else :
    print('9가 요소에 포함되지 않습니다')

9가 요소에 포함되지 않습니다

In [127]:
def safe_index(lst, item): # def 함수를 만들기 
    if item in lst:
        return lst.index(item)
    else : 
        return -1

In [131]:
def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [132]:
safe_index(numbers, 9)

-1

In [133]:
numbers[20] # 벗어난 인덱싱시 에러

IndexError: list index out of range

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : list에서 원하는 index의 데이터를 추출 <br><br>

- 인덱스의 범위를 벗어난 값도 에러나지 않음
- [from.stop,step] form부터 stop앞까지 step씩 증가하는 index값 추출 
- from 생략시 처음, stop생략시 끝, step생략시 1, 모두 생략 가능
- 인덱스는 음수 가능<br><br>

2.<b><font color="red">리스트 컴프리헨션</font></b> : list에서 원하는 데이터 추출

In [142]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# 거꾸로 출력
print(numbers[::-1])
print(numbers[0:10:2])
print(numbers[0:100])

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [149]:
# 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 엑세스
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# 모든 데이터 추출
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [153]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end="\t")
[data for data in numbers if data%2==0]

10	12	18	20

In [183]:
# ex1. numbers에서 10이상의 요소만 추출
[i for i in numbers if i>=10]

[10, 12, 13, 18, 19, 20]

In [189]:
# ex2. fruits에서 과일의 글자가 5글자가 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [188]:
# ex2-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits ]

[6, 5, 5, 4]

In [200]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [202]:
# ex4. 리스트의 값의 두배로 추출
L = [1, 2, 3, 4, 5]
[l*2 for l in L ]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기

In [209]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [210]:
# 슬라이싱(step부분 미포함)을 이용하여 부분리스트를 통째로 수정
numbers[0:2] = [101,101,101,101,101,101]
numbers

[101, 101, 101, 101, 101, 101, 222, 3, 4, 5, 6, 7, 8, 9]

In [215]:
# 슬라이싱 (step부분 포함)을 이용하여 부분 수정
numbers = [0]*10
print("수정전 :",numbers) 
numbers[::2] = [9, 9, 9, 9, 9] # 변경 요소의 갯수가 맞아야함
print("수정후 :", numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [216]:
# 수정하려는 요소의 갯수가 맞지 않으면 에러
numbers[::2] = [9, 9, 9, 9]

ValueError: attempt to assign sequence of size 4 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반화되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제 
- remove(data) : list 안의 data 삭제
- del 리스트변수[idx] : idx번째 요소가 삭제

In [240]:
numbers = [1, 2, 3, 4, 5]
print('삭제한 데이터 :',numbers.pop())
print('삭제한 후 numbers :',numbers)
print('삭제한 데이터 :',numbers.pop())
print('삭제한 후 numbers :',numbers)
print('삭제한 데이터 :',numbers.pop())
print('삭제한 후 numbers :',numbers)
print('삭제한 데이터 :',numbers.pop(0))
print('삭제한 후 numbers :',numbers)

삭제한 데이터 : 5
삭제한 후 numbers : [1, 2, 3, 4]
삭제한 데이터 : 4
삭제한 후 numbers : [1, 2, 3]
삭제한 데이터 : 3
삭제한 후 numbers : [1, 2]
삭제한 데이터 : 1
삭제한 후 numbers : [2]

In [243]:
numbers = [0, 1, 2, 3, 4, 5]
numbers.remove(3) # remove 반환값이 없고, 해당데이터 삭제만
print('remove 후 :',numbers)

remove 후 : [0, 1, 2, 4, 5]

In [231]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [244]:
if 9 in numbers:
    numbers.remove(9)
else :
    print("해당 데이터는 없는 데이터입니다")

해당 데이터는 없는 데이터입니다

In [245]:
def safe_remove(lst, remove_item):
    if remove_item in lst:
        lst.remove(remove_item)
    else :
        print("해당 데이터는 없는 데이터입니다")

In [235]:
safe_remove(numbers, 9)

해당 데이터는 없는 데이터입니다

In [246]:
numbers = [0, 1, 2, 3, 4, 5] 
del numbers[2] # 2번째 index 요소 삭제 
print("del 삭제후 :",numbers)

del 삭제후 : [0, 1, 4, 5]

## 1.8 정렬하기

In [255]:
numbers = [9, 5, 0, 8, 6]
numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(기본은 오름차순)
numbers

[0, 5, 6, 8, 9]

In [256]:
numbers = numbers[::-1] # 오름차순 결과를 내림차순으로
numbers

[9, 8, 6, 5, 0]

In [257]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[0, 5, 6, 8, 9]

In [259]:
numbers.sort(reverse=True) # 내림차순정렬
numbers

[9, 8, 6, 5, 0]

## 1.9 리스트 복사

In [265]:
# 얕은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers # 얕은 복사
new_numbers.sort()
print("원본 :",numbers)
print("정렬 :",new_numbers)
print("원본 주소 :", id(numbers))
print("정렬본 주소 :", id(new_numbers))

원본 : [1, 5, 6, 9]
정렬 : [1, 5, 6, 9]
원본 주소 : 2771616148992
정렬본 주소 : 2771616148992

In [266]:
# 깊은 복사 (복제)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print('numbers :', numbers)
print('new_numbers :', new_numbers)
print('numbers 주소 :', id(numbers))
print('new_numbers :', id(new_numbers))

numbers : [5, 6, 1, 9]
new_numbers : [9, 6, 5, 1]
numbers 주소 : 2771616397056
new_numbers : 2771613114048

In [269]:
city = ['서울', '부산', '대전', '대구', '인천', '광주', '제주']
temp = city.copy()
temp.sort()
print('정렬전 :', ' '.join(city))
print('정렬후 :', ' '.join(temp))

정렬전 : 서울 부산 대전 대구 인천 광주 제주
정렬후 : 광주 대구 대전 부산 서울 인천 제주

# 2절. 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로 튜플에 데이터 수정, 추가 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [281]:
city = ('서울', '부산', '인천', '목포',)
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [273]:
', '.join(city)

'서울, 부산, 인천, 목포'

In [277]:
l = ['서울'] # 요소가 하나 있는 list
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [283]:
city = ('서울') # 요소가 하나 있는 튜플 X
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [284]:
city = ('서울',) # 요소가 하나 있는 튜플 끝에 , 찍기
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [288]:
a, b = 10, 20
# (a, b) = ( 10, 20)

<class 'int'>

In [290]:
numbers = 1,2,3 # numbers = (1, 2, 3)
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [291]:
# numbers.remove(3) 수정하기 위한 함수는 제공 되지 않음

AttributeError: 'tuple' object has no attribute 'remove'

In [293]:
print(min(numbers), max(numbers), len(numbers))

1 3 3

In [294]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2)

2

In [295]:
numbers[0:3]

(0, 1, 2)

In [296]:
numbers.index(2) # 처음부터 2가 처음 나오는 곳의 index번호

2

In [297]:
numbers.index(2, 3) # 3번째 인덱스부터 2가 있는 곳의 index번호

6

In [298]:
numbers.index(9)

ValueError: tuple.index(x): x not in tuple

In [300]:
# numbers안에 9 요소가 있는지 여부
print(numbers.count(9))
print(9 in numbers)

0
False

In [304]:
def safe_index(lst, item):
    if item in lst:
        return lst.index(item)
    else:
        return -1

def safe_index(lst, item):
    return lst.index(item) if item in lst else -1

In [305]:
safe_index(numbers, 9)

-1

In [310]:
numbers = (1, 2, 3)
numbers + numbers # 연결

(1, 2, 3, 1, 2, 3)

In [309]:
numbers*3 # 반복

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [312]:
# ex. 짝수 요소들의 추출하여 제곱한 리스트를 출력하시오
numbers = (1, 2, 3, 4, 5, 6)
[x**2 for x in numbers if x%2==0]

[4, 16, 36]

# 3절. 딕셔너리
- Java에서의 HashMap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)쌍우로 구성된 자료구조
- 키는 유일한 값(중복허용안함). 키에 list는 사용불가. 키에 tuple은 사용 가능
- 값은 중복 가능. 모든 데이터 타입이 가능
- 없는 키의 값을 참조하면 에러 발생
- 인덱스를 이용한 참조는 지원 안 함

In [314]:
dic = {'name':'홍길동', 1:22, (1, 2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [315]:
len(dic) # 데이터 요소의 갯수

3

In [316]:
my_favorit = {'fruit':'apple', 'number':7, 'sport':'golf'}
my_favorit

{'fruit': 'apple', 'number': 7, 'sport': 'golf'}

In [317]:
my_favorit['fruit']

'apple'

In [318]:
my_favorit.get('fruit')

'apple'

In [320]:
# print(my_favorit['people']) # 키목록에 없는 데이터를 인덱스로 참조시 에러
print(my_favorit.get('people')) # 없는 키를 get함수로 참조시 None return

None

In [330]:
# 딕셔너리 수정
my_favorit = {'fruit':'apple', 'number':7, 'sport':'golf'}
my_favorit['fruit'] = 'mango'
print('fruit 수정후 :', my_favorit)
my_favorit['people'] = '홍길동'
print('people 추가후 :', my_favorit)
print('데이터 갯수 :', len(my_favorit))
# del my_favorit['sport'] # 'sport':'golf' 제거
# del(my_favorit['sport'])
my_favorit.pop('sport')
print('sport 제거 후 :', my_favorit)

fruit 수정후 : {'fruit': 'mango', 'number': 7, 'sport': 'golf'}
people 추가후 : {'fruit': 'mango', 'number': 7, 'sport': 'golf', 'people': '홍길동'}
데이터 갯수 : 4
sport 제거 후 : {'fruit': 'mango', 'number': 7, 'people': '홍길동'}

In [332]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [338]:
for data in my_tuple:
    print(data, end="\t")
print() # 개행
for idx in range(len(my_tuple)):
    print('{}번째 : {}\t'.format(idx, my_tuple[idx]), end='')
print()
for idx, value in enumerate(my_tuple):
    print('{}번째 : {}'.format(idx, value), end="\t")

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [333]:
# for문을 이용한 딕셔너리 출력
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [343]:
# 비추 
for key in my_dic:
    print("{}:{}".format(key, my_dic[key]), end="\t")

name:홍길동	age:30	tel:010-9999-9999
0:name
1:age
2:tel

In [344]:
# 딕셔너리에서는 enumerate 사용에 의미가 없음 key 값만 출력
for key, value in enumerate(my_dic):
    print('{}:{}'.format(key, value))

0:name
1:age
2:tel

In [345]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [346]:
my_dic.values() # 값들의 목록

dict_values(['홍길동', 30, '010-9999-9999'])

In [347]:
my_dic.items() # 키-값의 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [349]:
for value in my_dic.values():
    print(value, end = "\t")

홍길동	30	010-9999-9999

In [352]:
for key, value in my_dic.items():
    print('{}:{}\t'.format(key,value), end="")

name:홍길동	age:30	tel:010-9999-9999

In [353]:
# in 연산자 
t = (10, 20, 30)
30 in t
# list, tuple, set에서의 in 연산자는 요소가 있는 여부 반환

True

In [354]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}
'name' in my_dic
# 딕셔너리에서의 in연산자는 키가 있는 여부 반환

True

In [355]:
'홍길동' in my_dic

False

In [359]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite # 얕은 복사 (할당)
print('my_favorite의 주소 :',id(my_favorite))
print('new_favorite의 주소 :',id(new_favorite))

my_favorite의 주소 : 2771617304576
new_favorite의 주소 : 2771617304576

In [360]:
new_favorite['fruit'] = '과일은 다 좋아. 하나를 선택 못해'
new_favorite['people'] = '홍길동'
print('원본 :',my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아. 하나를 선택 못해', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아. 하나를 선택 못해', 'number': 12, 'people': '홍길동'}

In [363]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy() # 깊은 복사 (복제)
print('my_favorite의 주소 :',id(my_favorite))
print('new_favorite의 주소 :',id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아. 하나를 선택 못해'
new_favorite['people'] = '홍길동'
print('원본 :',my_favorite)
print('수정본 :', new_favorite)

my_favorite의 주소 : 2771614031104
new_favorite의 주소 : 2771614033216
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아. 하나를 선택 못해', 'number': 12, 'people': '홍길동'}

원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아. 하나를 선택 못해', 'number': 12, 'people': '홍길동'}